body {
  background-image: url("red-stars.jpg") !important;
  background-color: #9e0404;
}

p {
  font-family: 'Arbutus Slab', serif;
}

.logo{
  width: 45%; 
  padding-top: 1.5em; 
  margin: 0 auto;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.wishing-div{
  width:65%; 
  margin: 0 auto;
  text-align: center;
  font-size: 1.30em;
}

.social-div{
  margin: 0 auto;
  width: 6.75em;

  /*position: absolute;*/
}

a {
  color: white;
}

.socialmedia {
  width: 2em;
  border:0;
  color:white;  
}